.chats {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chats__header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.chats__headerInfo {
    flex: 1;
    margin-left: 20px;
}

.chats__headerInfo > h3 {
    font-size: 18px;
}

.chats__headerInfo > p {
    color: grey;
}

.chats__body {
    flex: 1;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    padding: 30px;
}

.chat__message {
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    width: fit-content;
    margin-bottom: 30px;
}

.chat__name {
    position: absolute;
    top: -24px;
    font-size: x-small;
    font-weight: 700;
}

.chat__timeStamp {
    font-size: xx-small;
    margin-left: 20px;
}

.chat__receiver {
    margin-left: auto;
    background-color: #d7f6d7;
}

.chat__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > input {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    border: 0;
}



.chat__footer > form > button{
    display: none;
}